.App {
  align-items: center;
  background: #036;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 9.2rem);
  justify-content: center;
  padding: 1rem 3rem;
  text-align: center;
  width: calc(100vw - 6rem);

}

.tituloHome {
  color: #fcb900;
  font-size: 3rem;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}


.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 3px solid #036;
  background-size: cover;
  border-radius: 20px;
  padding: 2rem;
  overflow-y: auto;
  z-index: 1;
}

.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  /* display: block; */
  height: 100%;
  width: 70%;
}

.playStop {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20rem;
}

.button {
  background: #fcb900;
  border: 5px solid #036;
  border-radius: 50%;
  box-shadow: 5px 5px 7px #091423;

  &:active {
    background: #f5cc5b;
    box-shadow: none;
  }
}

.titulo {
  color: #091423;
  font-size: 2rem;
}

.texto {
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .modal {
    background-repeat: round;
    background-size: contain;
    overflow-y: hidden;
  }

  .playStop{
    margin-top: 10rem;
  }


}

@media screen and (max-width: 425px) {

  .App {
    height: calc(100vh - 7rem);
  }

  .modal{
    background-repeat: round;
    background-size:cover ;
    overflow-y: auto;
  }

  .swiper {
    height: 9rem;
    width: 18rem;

  }
}